@font-face {
  font-family: 'Inconsolata'; 
  src: url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@280&display=swap'); 
}

body{
  color:white;
  background-image: url("media/bbg.png");
  background-size: cover;
  background-position: center;
  font-family: "Inconsolata", monospace;
  color:white;
  font-size: 20px;
}

.centered-box-div {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  margin: 0 auto;

  border: 3px solid rgba(255, 255, 255, .9);
  border-radius: 25px;
}